include src/pypan/data/pan.cpython-37m-x86_64-linux-gnu.so
include src/pypan/data/pan.cpython-38-x86_64-linux-gnu.so
include src/pypan/data/pan.cpython-39-x86_64-linux-gnu.so
include src/pypan/data/pan.cpython-310-x86_64-linux-gnu.so
graft tests
